.hero {
    text-align: center;
    padding: 50px 20px;
    padding-top: 100px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    color: #666;
    font-size: 1.2em;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 92px;
}

.card {
    background-color: #0e599e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    cursor: pointer; /* Change cursor to indicate the card is clickable */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
}

.card:nth-child(2) {
    background-color: #0e599e;
}

.card h3 {
    margin: 20px 0;
}

.card p {
    font-size: 1.5em;
}

/* Hover effect */
.card:hover {
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.card-img {
    width: 100px; /* Set desired width */
    height: 100px; /* Set desired height */
    object-fit: cover; /* Ensure the image covers the container */
}
