/* Make sure the html and body elements take the full height of the viewport */
html, body {
    /* height: 100%; */
    /* width: 100%; */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #welcome-container should take the full height and center its content */
#welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it uses the full height of the body */
    background-color: #f0f0f0;
}
